body {
  background-color: #fffae9;
}

#passwordChooseText {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: -2px;
  font-size: 16px;
  text-size-adjust: none;
}

#passwordLength {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 29px;
  right: -115px;
  font-size: 18px;
  transition: opacity .5s ease-in-out;
  opacity: 0;
  text-align: left;
  white-space: nowrap;
  width: 100px;
}

#passwordInput {
  resize: none;
  display: inline-block;
  margin: auto;
  aspect-ratio: auto;
  height: auto;
  width: 453px;
  position: relative;
  top: -10px;
  background-color: white;
  border-style: solid;
  border-color: #9d9d9d;
  border-width: 1px;
  border-radius: 10px;
  font-size: 28px;
  word-wrap: break-all;
  padding: 15px;
  font-family: monospace;
}

#passwordInput:focus {
  outline: none;
  border-color: black;
}

.rules {
  display: none;
  transition: background-color .7s ease-in-out;
  opacity: 0;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  border-color: red;
  border-width: 1px;
  border-style: solid;
  background-color: #ffecec;
  font-size: 18px;
  line-height: 1.53em;
  box-shadow: 2px 2px 5px 2px rgba(255,0,0,.12);
  margin: 22px auto;
  text-size-adjust: none;
}

.ruleTop {
  background-color: #ffc7c7;
  transition: background-color .7s ease-in-out;
  border-radius: 10px 10px 0px 0px;
  padding: 8px 16px 5px;
  display: block;
}

.ruleImage {
  position: relative;
  width: 19px;
  height: 19px;
  top: 3px;
  left: -1px;
  pointer-events: none;
}

.ruleBottom {
  padding: 11px 17px 15px;
  max-width: 425px;
}

.fadeIn {
  animation: fadeIn .5s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#deathScreen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  backdrop-filter: saturate(0);
  z-index: 100;
  opacity: 0;
  text-align: center;
}

#deathScreenStrip {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 100px;
  background: rgba(0,0,0,.95);
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-family: Georgia,Times,serif;
  text-transform: uppercase;
  box-shadow: 0 0 80px 50px rgba(0,0,0,.7);
}

#rule8Sponsor {
  display: block;
  width: 100px;
  height: 100px;
  pointer-events: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

#rule13Equation {
  display: block;
  pointer-events: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

#rule14Town {
  display: block;
  height: 175px;
  width: auto;
  pointer-events: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

#rule16Unicode {
  display: block;
  pointer-events: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

#gameContainer {
  margin: auto;
  width: fit-content;
  position: relative;
  top: 10px;
}

#introImage {
  width: 313px;
  height: auto;
  display: block;
  position: relative;
  top: -2px;
  margin: 0 auto;
}

#noMobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  #noMobile {
    display: block;
    border-radius: 10px;
    background-color: #ffecec;
    font-family: Arial, Helvetica, sans-serif;
    border-color: red;
    border-width: 1px;
    border-style: solid;
    font-size: 18px;
    box-shadow: 2px 2px 5px 2px rgba(255,0,0,.12);
    line-height: 1.53em;
  }
  
  #passwordInput {
  -webkit-user-modify: read-only;
  -moz-user-modify: read-only;
  -ms-user-modify: read-only;
  background-color: #dddddd;
  cursor: not-allowed;
  }
}

#noMobileHeadingBox {
  background-color: #ffc7c7;
  border-radius: 10px 10px 0px 0px;
  padding: 8px 16px 5px;
  display: block;
}

#noMobileBottomBox {
  padding: 11px 17px 15px;
}